/* 프로젝트 리스트의 스타일 */
#project-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
}

/* 프로젝트 아이템의 스타일 */
.project-item {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.project-item:hover {
    background-color: #eee;
}

.project-name {
    margin-left: 10px;
}

#join-project-btn {
    margin-top: 17px;
}

#join-project-btn:hover {
    background-color: #e2e2e2;
}

#project-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 500px;
    overflow-y: scroll
}

.project-item {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.project-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #f0ad4e;
}