.container-fluid {
    width: 50%;
    margin-top: 100px
}

.card {
    height: 700px;
}

/* 프로젝트 리스트의 스타일 */
.project-list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 450px;
    max-height: 450px !important;
    overflow-y: scroll;
    border: 1px solid #ccc;
}

.project-item {
    display: flex;
    align-items: center;
    padding: 7px !important;
    cursor: pointer;
}

.project-item:hover {
    background-color: #eee;
}

.project-item:hover[data-hover-style] {
    background-color: attr(data-hover-style);
}

.project-name {
    margin-left: 5px;
    font-weight: bold;
}

.project-code {
    font-size: 0.8em;
    margin-right: 10px;
}

.project-priority {
    font-size: 1.2em;
    margin-right: 20px;
    font-weight: bold;
    margin-left: auto;
}

.project-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px skyblue;
}

#join-project-btn {
    margin-top: 17px;
}

#join-project-btn:hover {
    background-color: #676767;
}

#project-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 500px;
    overflow-y: scroll
}

.project-list-header {
    background-color: #f7f7f7;
    padding: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.header-item {
    flex: 1;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}


.project-item {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.project-item {
    margin-left: auto;
    margin-right: 10px;
}

.project-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

.color-option {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.gray {
    background-color: #A9A9A9;
}

.blue {
    background-color: #0000ff;
}

.red {
    background-color: #ff0000;
}

.green {
    background-color: #008000;
}

.pink {
    background-color: #ffc0cb;
}

.brown {
    background-color: #a52a2a;
}

.yellow {
    background-color: #ffff00;
}

.color-option.active {
    border: 3px solid blueviolet;
}

.project-item.high .project-color {
    background-color: red;
}

.project-item.mid .project-color {
    background-color: orange;
}

.project-item.low .project-color {
    background-color: green;
}

.search-container {
    padding: 2px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.search-icon {
    position: relative;
    top: 5px;
    margin-right: -20px;
}

#search-project {
    padding: 8px 10px;
    border: none;
    border-radius: 25px;
    background-color: #f1f1f1;
    margin-bottom: 0;
    width: 300px;
    text-align: center;
}