.container-fluid {
    width: 50%;
    margin-top: 80px
}

.card {
    height: 800px;
}

/* 프로젝트 리스트의 스타일 */
.project-list {
    margin-bottom: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 570px;
    max-height: 570px !important;
    overflow-y: scroll;
    border: 1px solid #ccc;
}

.project-item {
    display: flex;
    align-items: center;
    padding: 7px !important;
    cursor: pointer;
}

.project-item:hover {
    background-color: #eee;
}

.project-item:hover[data-hover-style] {
    background-color: attr(data-hover-style);
}

.project-name {
    margin-left: 5px;
    font-weight: bold;
}

.project-code {
    font-size: 0.8em;
    margin-right: 10px;
}

.project-priority {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 20px;
    margin-left: auto;
}

.project-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px skyblue;
}

.project-list-header {
    background-color: #f7f7f7;
    padding: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.header-item {
    flex: 1;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}


.project-item {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.project-item {
    margin-left: auto;
    margin-right: 10px;
}

.project-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

.color-option {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.gray {
    background-color: #A9A9A9;
}

.blue {
    background-color: #0091ff;
}

.red {
    background-color: #e05454;
}

.green {
    background-color: #76a676;
}

.pink {
    background-color: #ffc0cb;
}

.brown {
    background-color: #643d3d;
}

.yellow {
    background-color: #f0f068;
}

.color-option.active {
    border: 3px solid blueviolet;
}

.project-item.high .project-color {
    background-color: red;
}

.project-item.mid .project-color {
    background-color: orange;
}

.project-item.low .project-color {
    background-color: green;
}

.search-container {
    padding: 2px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.search-icon {
    position: relative;
    top: 5px;
    margin-right: -20px;
}

#search-project {
    padding: 8px 10px;
    border: none;
    border-radius: 25px;
    background-color: #f1f1f1;
    margin-bottom: 0;
    width: 300px;
    text-align: center;
}

/* 프로젝트 모달 스타일 */
.modal-dialog {
    max-width: 800px;
    margin: auto;
    position: relative;
    top: 10%;
    transform: translateY(10%);
}

.modal-content {
    border-radius: 0;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    /* 모달 그림자 효과 추가 */
    max-height: calc(80vh - 60px);
    /* 모달 내부의 높이를 적절하게 계산 */
    overflow-y: auto;
    /* 모달 내부의 내용이 높이 제한을 초과할 경우 스크롤바 표시 */
}

.modal-header {
    border-bottom: none;
    background-color: #f1f1f1;
    /* 헤더 배경색 지정 */
}

.modal-body {
    padding: 1.5rem;
    /* 본문 패딩값 조정 */
}

.modal-body .participant-list ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.modal-body .participant-list li {
    display: inline-block;
    margin-right: 5px;
}

.modal-footer {
    border-top: none;
    background-color: #f1f1f1;
    /* 푸터 배경색 지정 */
}

.modal-footer button {
    border-radius: 0;
}

.modal-footer button:last-child {
    margin-right: 0;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
}

.participant-manager {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #e6f2ff;
    padding: 10px;
}

.participant-manager img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.participant {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #5af1976d;
    padding: 10px;
}

.participant img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

#delete-project-link {
    color: red;
    font-weight: bold;
}